*.vspscc
*.vssscc
*.scc
*.suo
*.user
/*.bat

/InfernalRobotics/*.sln

/_release/

/InfernalRobotics/InfernalRobotics/bin/
/InfernalRobotics/InfernalRobotics/obj/

/Resources/Unity-UI/Library/
/Resources/Unity-UI/Logs/
/Resources/Unity-UI/Temp/
