<?xml version="1.0" encoding="utf-8"?>
<config>
    <rect name="editorWinPos">
        <xmin>686</xmin>
        <xmax>696</xmax>
        <ymin>51</ymin>
        <ymax>61</ymax>
    </rect>
    <rect name="tweakWinPos">
        <xmin>671</xmin>
        <xmax>681</xmax>
        <ymin>351</ymin>
        <ymax>361</ymax>
    </rect>
    <rect name="controlWinPos">
        <xmin>692</xmin>
        <xmax>992</xmax>
        <ymin>69</ymin>
        <ymax>169</ymax>
    </rect>
    <rect name="groupEditorWinPos">
        <xmin>689</xmin>
        <xmax>699</xmax>
        <ymin>167</ymin>
        <ymax>177</ymax>
    </rect>
    <bool name="useEC">1</bool>
</config>